.main-container {
    display: grid;
    max-width: 1200px;
    width: 100%;
    padding: calc(var(--content-spacing) * 0.5) var(--content-spacing);
    margin-inline: auto;
}

/* Primary Navbar */
.primary-nav .nav__title {
    transition: transform 100ms ease-in-out;
}
.primary-navbar .primary-navbar__skip {
    position: absolute;
    transform: translateX(-25rem);
    transition: transform 100ms ease-in-out;
}

.primary-navbar .primary-navbar__skip:focus + * {
    transform: translateX(12rem);
}

.primary-navbar .primary-navbar__skip:focus {
    transform: translateX(0);
}

/* Home */
.home > div {
    margin-block: 2em;
}

.showcase {
    --spacing: 0.85em;
}

.platforms .platform__header {
    margin-bottom: 1.25em;
}

.platforms .card {
    --gap: 0.75em;
    position: relative;
}

.platforms .card__profile-container {
    position: absolute;
    top: -50px;
    padding: var(--card-container-spacing, 0.25em);
    background-color: var(--clr-background);
    border-radius: 50%;
}

/* Request form */
.request-form {
    --spacing: 1.25em;
}

/* Influencers */
@media screen and (max-width: 768px) {
    .influencer {
        flex-direction: column;
    }
}

/* Inputs */
.input-container {
    position: relative;
}

/* Footer */
.footer {
    font-size: calc(var(--fs-300));
    margin-top: auto;
    background-color: var(--clr-background-600);
    padding: var(--footer-spacing);
}

.footer .list__header {
    display: inline-block;
}

.footer .footer__list {
    --gap: 0.25em;
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
    }

    .footer > div {
        margin-top: 0.5em;
    }
}