/* Flex */
[class*='flex-'] {
    display: flex;
}

.flex-between {
    justify-content: space-between;
    align-items: center;
    gap: var(--gap, 1rem);
}

.flex-horizontal-items {
    align-items: center;
    gap: var(--gap, 1em);
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-col {
    flex-direction: column;
}

/* Flows */
.flow > * + * {
    margin-top: 0.5rem;
}

/* Buttons */
.button {
    font-size: calc(var(--fs-450) * 0.85);
    font-weight: var(--fw-600);
    padding: calc(var(--button-spacing) * 0.5) var(--button-spacing);
    color: white;
    background-color: var(--clr-primary-500);
    border-radius: 6px;
    transition: background-color 90ms ease-in-out;
}

.button:hover {
    background-color: var(--clr-primary-400);
}

/* Profiles */
.profile {
    width: var(--radius, 2em);
    aspect-ratio: 1;
    background-color: var(--clr-background);
    border-radius: 50%;
}

/* Lists */
.link-list li {
    display: inline-block;
}

.link-list li a {
    display: block;
    padding: 0.35em 0.65em;
    transition: background-color 100ms ease-in-out;
}

.link-list li a:is(:hover, :focus) {
    background-color: var(--hover);
}